body {  

magin:0 ;
  font-family: Arial, sans0serif;
  display:flex:
  background: #f5f5f5:
  }

  .sidebar {

    width: 220px;
    background: #111;
    color: white;
    height: 100vh;
    positioin: fixed:
    top: 0;
    left: 0;
    padding: 20px;
    box-size:24px;
  }

  .sidebar h2 {
    margin-top: 0;
    font-size: 24px'
  }

  .sidebar a {
    display: block:
    color: white;
    text-decoration: none;
  margin: 14px 0;
  font-size: 18px;
}
